<template>
    <div class="exampleHolder" if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    <div class="slds-scrollable_y">
    <lightning-card title="Assest Detail">

        <!-- <lightning-accordion class="example-accordion" onsectiontoggle={handleToggleSection}
            active-section-name={accordianSection} allow-multiple-sections-open> -->
            <!-- <lightning-accordion-section name="emplo" label="Employee Information"> -->
                <div class="demo-only class1" style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse"><h1 style="color: black;">Employee Information</h1></div>
                  </div>
                </br>
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1" style="margin-bottom: 10px;">
                    <!-- <div class={astnamecls}>
                        <lightning-input label='Asset Name' value={Assetname} onchange={handleasset} read-only={edit}>
                        </lightning-input>
                        <div if:true={asstnmeerr} class="slds-form-element__help">Enter Asset Name</div>
                    </div> -->
                    <div id='Emp' class={empclass}>
                        <label if:false={edit} class="slds-form-element__label" for="text-input-id-50">
                            <abbr class="slds-required" title="required">* </abbr>Employee Name</label>
                        <c-customlookuplwc obj-name="Employee__c" if:false={edit} selname={name}
                            search-placeholder="Search Employee" icon-name="standard:account"
                            onlookupselected={handleAccountSelection} onclearval={clearhandle} onremovepill={clearhandle} >
                        </c-customlookuplwc>
                        <lightning-input label='Employee Name' value={name} if if:true={edit} read-only>
                        </lightning-input>
                        <div if:true={emperr} class="slds-form-element__help">Enter Employee Name</div>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Employee No'  value={num} read-only></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input name='Ebd' label="Employee Business Division" value={divison} read-only>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Employee Designation' value={desig} read-only></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Employee Type' value={typ} read-only></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Employee Location' value={EmpLocation} read-only></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Employee Country' value={Empcountry} read-only></lightning-input>
                    </div>
                </div>

            <!-- </lightning-accordion-section> -->
            <!-- <lightning-accordion-section name="product" label="Product Information"> -->
                <div class="demo-only class1" style="padding:0.5rem;background:#e4e2e2;">
                    <div class="slds-text-color_inverse"><h1 style="color: black;">Product Information</h1></div>
                  </div>
                </br>
                <div class="slds-grid slds-gutters slds-clearfix slds-wrap class1" style="margin-bottom: 10px;">
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-combobox  if:false={edit} 
                            name="ProductFamily"  field-level-help="Select Product Family to view available products" required placeholder="choose product family"
                            label="Product Family" value={family} options={familyValues} onchange={changeProductValues} >
                        </lightning-combobox>
                        <lightning-input label='ProductFamily' if:true={edit} value={family} read-only>
                        </lightning-input>
                    </div>

                    <div class={prdtypeclass} if:true={isHardware}>
                    </br>
                        <lightning-combobox field-level-help="Select Product Type to view available products"
                            name="ProductType" placeholder="choose product type" if:false={edit} 
                            label="Product Type" value={proddtype} options={stageValues} onchange={handlechange1}>
                        </lightning-combobox>
                        <div if:true={prdtpeerr} class="slds-form-element__help">Enter Product Type</div>
                        <lightning-input label='Product Type' if:true={edit} value={proddtype} read-only>
                        </lightning-input>
                    </div>

                    <div class={prdnameclass} >
                    </br>
                        <label if:false={edit} class="slds-form-element__label" for="text-input-id-50">
                            <abbr class="slds-required" title="required">*</abbr>Product Name</label>
                        <c-customlookuplwc obj-name="Inventory__c" disabled={prdtypesel} if:false={edit} 
                            filter={filtcrit} selname={prodname} clearval={clearhandle} search-placeholder="Search Product"
                            icon-name="standard:account" onlookupselected={handleproduct} onclearval={clearhandle} onremovepill={clearhandle}>
                        </c-customlookuplwc>
                        <div if:true={prdnmerr} class="slds-form-element__help">Select product </div>
                        <lightning-input label='Product Name' if:true={edit} value={prodname} read-only>
                        </lightning-input>
                    </div>
                    <div  class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Sedin Asset Id' value={SedinAssetId} read-only></lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Serial Number' value={serialno} read-only></lightning-input>
                    </div>
                    
                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Product Code' value={prodcode} read-only></lightning-input>
                    </div>
                    <div  class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Brand' value={Brand} read-only></lightning-input>
                    </div>
                    <div  class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input label='Product Other Information' value={prodinfo} read-only></lightning-input>
                    </div>
                    

                    <div class="slds-col slds-size_1-of-2">
                    </br>
                        <lightning-input type="checkbox" name='active' label='Active'  checked={active} value={active}
                            onchange={handlechange}></lightning-input>
                    </div>
                  
                </div>
                <c-childassetlwc modalopen={modalval} record-id={recordId}  ononsave={childvalues} onclosemodal={closemodal1} ></c-childassetlwc>

            <!-- </lightning-accordion-section> -->
        <!-- </lightning-accordion> -->
    </br>
    <lightning-layout horizontal-align="stretch">
            <lightning-layout-item flexibility="auto" class="slds-align_absolute-center">

                <lightning-button variant="brand" label="Save" title="Primary action" onclick={checkerrors}
                    style="padding-left: 0.75rem;">
                </lightning-button>

                <lightning-button label="Cancel" variant="brand" onclick={closeModal} style="padding-left: 0.75rem;">
                </lightning-button>
                <lightning-button variant="brand" label="Add child asset"  onclick={handlemodal}
                style="padding-left: 0.75rem;">
            </lightning-button>
            </lightning-layout-item>
        </lightning-layout>

    </lightning-card>
    </div>
</template>