<template>
    <!-- lightning button for open modal window -->
    <!--Use template if:true to display/hide popup based on isModalOpen value--> 
    <template if:true={isModalOpen}>
        <div class="exampleHolder" if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" style="color:black"  class="slds-text-heading_medium slds-hyphenate">Add Child Asset</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                
                       <div class="slds-modal__content slds-grid slds-grow" style="color:black" id="modal-content-id-1">
                          <div class="slds-grid slds-grid_vertical">
                            <div class="slds-col  slds-scrollable_y">
                                <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade">
                                    <div class="slds-form-element">
                                      <label class="slds-form-element__label slds-assistive-text" for="example-unique-id-186" id="combobox-label-id-21">Search</label>
                                      <div class="slds-form-element__control">
                                        <div class="slds-combobox_container">
                                          <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                              <input type="text"  style="color:black" class="slds-input slds-combobox__input" id="example-unique-id-186" aria-autocomplete="list" aria-controls="example-unique-id-187"  onchange={handleClick} aria-expanded="false" aria-haspopup="listbox"   placeholder="Search Salesforce"
                                              />
                                              <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="slds-text-title slds-m-top_x-small" aria-live="polite">0 Item(s) Selected</div>
                                  </div>
                                  <div class="slds-scrollable slds-grow">
                                    <div class="slds-scrollable_none">
                                      <table aria-multiselectable="true" class="slds-table slds-no-row-hover slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid" aria-label="Example product list">
                                        <thead>
                                          <tr class="slds-line-height_reset">
                                            <th class="" scope="col" style="width:3.75rem"></th>
                                            <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                  <span class="slds-truncate" title="Name">Product Name</span>
                                                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                   
                                                  </span>
                                                </div>
                                              </a>
                                              <div class="slds-resizable">
                                                <input type="range" aria-label="Name column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-69" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                  <span class="slds-resizable__divider"></span>
                                                </span>
                                              </div>
                                            </th>
                                            <th aria-label="Product Code" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                  <span class="slds-truncate" title="Product Code">Product Family</span>
                                                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                   
                                                    
                                                  </span>
                                                </div>
                                              </a>
                                              <div class="slds-resizable">
                                                <input type="range" aria-label="Product Code column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-70" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                  <span class="slds-resizable__divider"></span>
                                                </span>
                                              </div>
                                            </th>
                                            <th aria-label="List Price" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                  <span class="slds-truncate" title="List Price">Sedin Id</span>
                                                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                   
                                                  </span>
                                                </div>
                                              </a>
                                              <div class="slds-resizable">
                                                <input type="range" aria-label="List Price column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-71" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                  <span class="slds-resizable__divider"></span>
                                                </span>
                                              </div>
                                            </th>
                                            <th aria-label="Product Family" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col">
                                              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                  <span class="slds-truncate" title="Product Family">Product Code</span>
                                                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                                                    
                                                  </span>
                                                </div>
                                              </a>
                                              <div class="slds-resizable">
                                                <input type="range" aria-label="Product Family column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-72" max="1000" min="20" tabindex="-1" />
                                                <span class="slds-resizable__handle">
                                                  <span class="slds-resizable__divider"></span>
                                                </span>
                                              </div>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                         
                                              <template for:each={childRecords} for:item="acc">
                                                  <tr key={acc.Id}  aria-selected="false" class="slds-hint-parent">
                                                     
                                                          <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                              <lightning-button-icon  icon-name="utility:add" slot="actions" value={acc.Id} onclick={addRow}></lightning-button-icon>
                                                            </td>
                                                        <th scope="row">
                                                          
                                                          <div class="slds-truncate" title={acc.Product_Name__c}>{acc.Product_Name__c}</div>
                                                        </th>
                                                        <td role="gridcell">
                                                          <div class="slds-truncate" title={acc.Product_Name__c}>{acc.Product_Family__c}</div>
                                                        </td>
                                                        <td role="gridcell">
                                                          <div class="slds-truncate" title={acc.Product_Name__c}>{acc.Asset_ID__c}</div>
                                                       </td>
                                                        <td role="gridcell">
                                                          <div class="slds-truncate" title={acc.Product_Name__c}>{acc.Product_Code__c}</div>
                                                        </td>     
                                                  </tr>
                                          </template>
                                                                      
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                            </div>
                           
                                <div class="slds-col slds-scrollable_y">
                                    <table aria-multiselectable="true" class="slds-table slds-no-row-hover slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid" aria-label="Example product list">
                                        <tbody>
                                            <template for:each={addrecords} for:item="acc">
                                                <tr key={acc.Id}  aria-selected="false" class="slds-hint-parent">
                                                   
                                                      <th scope="row"> 
                                                        <div if:true={acc.isnew} class="slds-truncate" title={acc.Product_Name__c}>{acc.Product_Name__c}</div>
                                                        <div if:false={acc.isnew} class="slds-truncate" title={acc.productName__c}>{acc.productName__c}</div>
                                                      </th>
                                                      <td role="gridcell">
                                                        <div if:true={acc.isnew} class="slds-truncate" title={acc.Product_Family__c}>{acc.Product_Family__c}</div>
                                                      
                                                    </td>
                                                      <td role="gridcell">
                                                        <div  if:true={acc.isnew}  class="slds-truncate" title={acc.Asset_ID__c}>{acc.Asset_ID__c}</div>
                                                        <div  if:false={acc.isnew}  class="slds-truncate" title={acc.Sedin_Asset_ID__c}>{acc.Sedin_Asset_ID__c}</div>

                                                     </td>
                                                      <td role="gridcell">
                                                        <div class="slds-truncate" title={Product_Code__c}>{acc.Product_Code__c}</div>
                                                      </td>  
                                                      <td class="slds-text-align_right" role="gridcell" tabindex="0">
                                                        <lightning-button-icon  icon-name="utility:delete" slot="actions" value={acc.Id} onclick={deleterow} ></lightning-button-icon>
                                                      </td>   
                                                </tr>
                                        </template>                         
                                      </tbody>
                                    </table>
                                </div>
                         
                         </div>
                        </div>
                
                     
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>