<template>
    <lightning-card title="Contact Information">  
        <lightning-record-edit-form id="Inventory" object-api-name="Inventory__c" layout-type="compact"  
          horizontal-align="stretch" title="Inventory Details" onsuccess={handleContactSuccess}  
          onsubmit={handleOnContactSubmit} onload={handleOnLoad}>  
          <lightning-messages>  
          </lightning-messages>  
          <lightning-layout horizontal-align="stretch">  
            <lightning-layout-item flexibility="auto" >  
              <lightning-input-field field-name='Product_Name__c'></lightning-input-field>  
            </lightning-layout-item>  
            <lightning-layout-item flexibility="auto" >  
              <lightning-input-field field-name='Product_Code__c'></lightning-input-field>  
            </lightning-layout-item>  
          </lightning-layout>  
          <lightning-layout horizontal-align="stretch">  
            <lightning-layout-item flexibility="auto" >  
              <lightning-input-field field-name='Location__c'></lightning-input-field>  
            </lightning-layout-item>  
            <lightning-layout-item flexibility="auto" >  
              <lightning-input-field field-name='Owner__c'></lightning-input-field>  
            </lightning-layout-item>  
          </lightning-layout>  
          <lightning-layout horizontal-align="stretch">  
            <lightning-layout-item flexibility="auto" >  
              <lightning-button variant="brand" type="submit" name="save" label="Save"  
                style="padding-left: 0.75rem;">  
              </lightning-button>  
              <lightning-button label="Cancel" variant="brand" onclick={cancelContactScreen}  
                style="padding-left: 0.75rem;">  
              </lightning-button>  
            </lightning-layout-item>  
          </lightning-layout>  
        </lightning-record-edit-form>  
      </lightning-card>  
    </template>  
</template>