<template>
<lightning-card title="Inventory Information">
<lightning-record-view-form record-id={recordId} object-api-name="Inventory__c">
  <lightning-accordion active-section-name="lightningComponent">
    <lightning-accordion-section name="productInformation" label="Product Information">
          
      <div class="tabContent">
            <div class="slds-grid">
              
  
                <div class="slds-col slds-size_1-of-2">
                    <lightning-output-field field-name="Product_Code__c"></lightning-output-field>
              
                    <lightning-output-field field-name="Owner__c"></lightning-output-field>
          
                  <lightning-output-field field-name="Product_Name__c"></lightning-output-field>
          
                <lightning-output-field field-name="Brand__c"></lightning-output-field>
                
            
              <lightning-output-field field-name="Serial_Number__c"></lightning-output-field>
          
            <lightning-output-field field-name="Price__c"></lightning-output-field>
          
          <lightning-output-field field-name="Age_of_the_product__c"></lightning-output-field>
        
        <lightning-output-field field-name="Division__c"></lightning-output-field>
      
      <lightning-output-field field-name="Internal_Asset__c"></lightning-output-field>
    
        <lightning-output-field field-name="Assignedunassigned__c"></lightning-output-field>
      
      <lightning-output-field field-name="Active__c"></lightning-output-field>
      
        <lightning-output-field field-name="SupplierVendor__c"></lightning-output-field>
        
          <lightning-output-field field-name="Screen_Size__c"></lightning-output-field>

              </div>
              <div class="slds-col slds-size_1-of-2">
                <lightning-output-field field-name="Product_Family__c"></lightning-output-field>
                <lightning-output-field field-name="Product_Type__c"></lightning-output-field>
                <lightning-output-field field-name="Quantity__c"></lightning-output-field>
                <lightning-output-field field-name="Purchase_Date__c"></lightning-output-field>
                <lightning-output-field field-name="CurrencyIsoCode"></lightning-output-field>
                <lightning-output-field field-name="Location__c"></lightning-output-field>
                <lightning-output-field field-name="Model__c"></lightning-output-field>
                <lightning-output-field field-name="Operating_System__c"></lightning-output-field>
                <lightning-output-field field-name="Version__c"></lightning-output-field>
                <lightning-output-field field-name="RAM__c"></lightning-output-field>
                <lightning-output-field field-name="HDDSSD__c"></lightning-output-field>
                <lightning-output-field field-name="Storage__c"></lightning-output-field>
                <lightning-output-field field-name="OwnerId"></lightning-output-field>
                </div>
              
        </div>
        
            
        </div>
    </lightning-accordion-section>
    <lightning-accordion-section name="warrantyInformation" label="Warranty Information">
          
      <div class="tabContent">
      <div class="slds-grid">
          <div class="slds-col slds-size_1-of-2">
            <lightning-output-field field-name="Warranty_ExpiryRenewal_date__c"></lightning-output-field>
              <lightning-output-field field-name="Warranty_Claimed_Date__c"></lightning-output-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
              <lightning-output-field field-name="Warranty_claimed__c"></lightning-output-field>
            </div>
          </div>
            </div>
    </lightning-accordion-section>
 </lightning-accordion>
  </lightning-record-view-form>
    </lightning-card>
</template>