<template>
    <div class={animeclass} style={style}>
        
        <div class="slds-grid slds-align_absolute-center slds-grid_vertical-align-center slds-col_bump-right slds-float_left slds-p-left_xx-large" >
          <span class="slds-box slds-box_xx-small slds-theme_default">{days}</span>
          <span class="slds-m-horizontal_x-small"><h2>Days left  for warranty expiry</h2></span>
        </div>
        <div class="slds-grid slds-align_absolute-center slds-grid_vertical-align-center slds-col_bump-right slds-float_right slds-p-left_xx-large" >
          <a href="#" class="slds-button slds-button_success" onclick={handlehrfclick}>View expiring assets</a>
        </div>
        <div if:true={recordId} class="slds-grid slds-align_absolute-center slds-grid_vertical-align-center slds-col_bump-right slds-float_right slds-p-left_xx-large" >
          <a href="#" class="slds-button slds-button_success" onclick={handlemodal}>Add Child Assets</a>
        </div> 
        <div if:true={childlst} class="slds-grid slds-align_absolute-center slds-grid_vertical-align-center slds-col_bump-right slds-float_right slds-p-left_xx-large" >
          <a href="#" class="slds-button slds-button_success" onclick={formathandler}>Format</a>
        </div>
        <c-childassetlwc modalopen={modalval} isinventory= true record-id={recordId}  ononsave={childvalues} onclosemodal={closemodal1} ></c-childassetlwc>
      </div> 
      <table if:true={isclose} class="slds-table slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols slds-tree slds-table_tree" role="treegrid" aria-label="Example single select tree grid">
        <thead>
          <tr class="slds-line-height_reset">
            <th aria-label="Phone Number" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
                <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                  <span class="slds-assistive-text">Sort by: </span>
                  <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                    <span class="slds-truncate" title="Phone Number">Product Name</span>
                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                      <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                      </svg>
                    </span>
                  </div>
                </a>
           
                <div class="slds-resizable">
                  <input type="range" aria-label="Phone Number column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-133" max="1000" min="20" tabindex="-1" />
                  <span class="slds-resizable__handle">
                    <span class="slds-resizable__divider"></span>
                  </span>
                </div>
              </th>
            <th aria-label="Employees" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                <span class="slds-assistive-text">Sort by: </span>
                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                  <span class="slds-truncate" title="Employees">Product Name</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input type="range" aria-label="Employees column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-132" max="1000" min="20" tabindex="-1" />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th aria-label="Phone Number" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                <span class="slds-assistive-text">Sort by: </span>
                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                  <span class="slds-truncate" title="Phone Number">warranty expiry Date</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                    </svg>
                  </span>
                </div>
              </a>
         
              <div class="slds-resizable">
                <input type="range" aria-label="Phone Number column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-131" max="1000" min="20" tabindex="-1" />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
            <th aria-label="Employees" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
              <a class="slds-th__action slds-text-link_reset" href="#" role="button" tabindex="-1">
                <span class="slds-assistive-text">Sort by: </span>
                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                  <span class="slds-truncate" title="Employees">Days remaining</span>
                  <span class="slds-icon_container slds-icon-utility-arrowdown">
                    <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon " aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                    </svg>
                  </span>
                </div>
              </a>
              <div class="slds-resizable">
                <input type="range" aria-label="Employees column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-134" max="1000" min="20" tabindex="-1" />
                <span class="slds-resizable__handle">
                  <span class="slds-resizable__divider"></span>
                </span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="slds-scrollable">
            <template if:true={renelst}>
                <template for:each={renelst} for:item="acc">
                    <tr key={acc.Id}  aria-level="1" aria-posinset="1" aria-setsize="4" class="slds-hint-parent" tabindex="0">
                      
                            <td data-label="Employees" role="gridcell">
                          <div class="slds-truncate" title={acc.name}>
                            <a href={acc.OwnerURL} target="_blank" tabindex="-1">{acc.Name}</a>
                          </div>
                          </td>
                   
                        <td data-label="Employees" role="gridcell">
                          <div class="slds-truncate" title="3,100">{acc.Product_Name__c}</div>
                        </td>
                        <td data-label="Phone Number" role="gridcell">
                          <div class="slds-truncate" title="837-555-1212">{acc.Renewal_Warranty_expirydate__c}</div>
                        </td>
                        <td data-label="Phone Number" role="gridcell">
                          <div class="slds-truncate" title="837-555-1212"><h1 style={acc.h2sty}>{acc.days}</h1></div>
                        </td>
                      </tr>
                </template>
            </template>
      
        </tbody>
      </table>
      <template if:true={isModalOpen1}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                <lightning-icon icon-name="utility:close"
                              alternative-text="close"
                              variant="inverse"
                              size="small" onclick={handlemodalclose}></lightning-icon>
                <span class="slds-assistive-text">Close</span>
              </button>
              <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Child Assets</h2>
              <p class="slds-m-top_x-small para">The following child assets will be un assigned from this product</p>
              
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
              <table  if:true={childlst} class="styled-table" role="treegrid" aria-label="Example single select tree grid">
              <thead>
                <tr class="slds-line-height_reset">
                  <th aria-label="Phone Number" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
                                     
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                          <span class="slds-truncate" title="Phone Number">Asset Name</span>
                         
                        </div>
                   
                 
                     
                    </th>
                    <th aria-label="Phone Number" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
                   
                      
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                          <span class="slds-truncate" title="Phone Number">Product Name</span>
                         
                        </div>
                     
                 
                      
                    </th>
                  <th aria-label="Employees" aria-sort="none" class="slds-has-button-menu slds-is-resizable slds-is-sortable" scope="col">
                 
                      
                      <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                        <span class="slds-truncate" title="Employees">Sedin ID</span>
                       
                      </div>
                   
                  </th>
                </tr>
              </thead>
              <tbody class="slds-scrollable">
                <template if:true={childlst}>
                    <template for:each={childlst} for:item="acc">
                        <tr key={acc.Id}  aria-level="1" aria-posinset="1" aria-setsize="4" class="slds-hint-parent" tabindex="0">
                          
                                <td data-label="Employees" role="gridcell">
                              <div class="slds-truncate" title={acc.name}>
                                <a href={acc.OwnerURL} target="_blank" tabindex="-1">{acc.Name}</a>
                              </div>
                              </td>
                       
                            <td data-label="Employees" role="gridcell">
                              <a href={acc.Product_Name__c} target="_blank" tabindex="-1">{acc.productName__c}</a>
                              
                            </td>
                            <td data-label="Phone Number" role="gridcell">
                              <div class="slds-truncate" title="837-555-1212">{acc.Sedin_Asset_ID__c}</div>
                            </td>
                          </tr>
                    </template>
                </template>
          
            </tbody>
            </table>
            </div>
            <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral" onclick={handlemodalclose}>Cancel</button>
              <button class="slds-button slds-button_brand" onclick={handlechilddelte}>Delete</button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
</template>